<div class="mt-5 py-5">
  <h1>Admin Categories</h1>
  <section class="mb-5">
    <div class="row">
      <div class="col-8">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th ></th>
            </tr>
          </thead>

          <tbody>
            <% @categories.each do |category| %>
              <tr>
                <td><%= category.name %></td>
                <td>
                  <%# link_to 'Show', admin_category_path(category) %>
                  <%= link_to 'Edit', edit_admin_category_path(category) %>
                  <%= link_to 'Destroy', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>  
      </div>
    </div>
    
  </section>
  <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary btn-rounded' %>
  <%= link_to 'Dashboard', dashboard_path, class: 'btn btn-secondary btn-rounded' %>
</div>

