<!DOCTYPE html>
<html>
  <head>
    <title>Plog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'loadjq', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= "black" if action_name.to_s == "home" %>">
    <%= yield %>

     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
