<!DOCTYPE html>
<html>
  <head>
    <title>Plog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'loadjq', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if action_name.to_s == "home" %>
      <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> 
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    <% end %>
  </head>

  <body class="container <%= "black" if action_name.to_s == "home" %>">
    <%= yield %>

     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.to_a.each do |f| %>
          console.log("<%= f %>");
          <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info').gsub("recaptcha_", "") %>
          <% messages = f[1].is_a?(Array) ? f[1] : [f[1]] %>
          <% messages.to_a.each do |msg|  %>
            <% unless msg == 'Sesión iniciada.' || msg == 'Sesión finalizada.' %>
              toastr['<%= type %>']('<%= msg  %>', '', {"closeButton": true, "debug": false, "onclick": null, "showDuration": "300", "hideDuration": "1000", "timeOut": "5000", "extendedTimeOut": "1000", "showEasing": "swing", "hideEasing": "linear", "showMethod": "fadeIn", "hideMethod": "fadeOut" });
            <% end %>
          <%end%>
        <% end %>
      </script>
    <%end%>
  </body>
</html>
